<section class="my-20">
  <h2 class="text-2xl font-semibold mb-1">About Me</h2>
  <hr class="mb-4 border-zinc-600" />
  <p class="leading-8 text-lg text-pretty text-zinc-400">
    Passionate programmer with expertise in web development and systems
    programming. Proficient in <strong class="text-zinc-100 font-medium"
      >Golang, TypeScript/JavaScript, Rust, and Python</strong
    >, with a focus on building scalable solutions and optimizing system
    performance. Experienced in using Linux as the primary development
    environment. Committed to continuous learning and delivering high-quality,
    efficient code for impactful projects.
  </p>
</section>
